<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<link href="~/lib/css/output.css rel="stylesheet">
</head>
<body>
	<h5>Razor Page</h5>
	@RenderBody()
</body>
</html>
