<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<link href="~/lib/css/output.css" rel="stylesheet">
</head>
<body>
	<h3>Important</h3>
	@RenderBody()
</body>
</html>