<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Cubed | WebApp</title>
	<meta charset="utf-8">
	<link href="~/lib/css/output.css" rel="stylesheet">
</head>
<body>
	<h6>Cubed</h6>
	<form method="get" action="/cubed/cube" class="m-2">
		<div class="form-group">
			<label>Value</label>
			<input name="num" class="form-control" value="@(TempData["value"])">
		</div>
		<button class="btn btn-primary mt-1" type="submit">
			Submit
		</button>
	</form>
	@if (TempData["result"] != null)
	{
		<div>The cube of @TempData["value"] is @TempData["result"]</div>
	}
</body>
</html>