@model IEnumerable<Product>
@{
	Layout = null;
	decimal average = Model.Average(p => p.Price);
}
<!DOCTYPE html>
<html lang="en-us">
<head>
	<link href="~/lib/css/output.css" rel="stylesheet">
</head>
<body>
	<h6>Products</h6>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Product p in Model)
				{
					<partial name="_RowPartial" model="p" />
				}
			</tbody>
		</table>
	</div>
</body>
</html>